# 1. Discuss string slicing and provide examples

>> String slicing allows to extracts a specific portion of a string by specifying a range of indices. It allows the format string[strart:end], where 'start' is the index where slicing begins and 'end' is the index where slicing ends
Some examples are as follows:-

In [ ]:
string1 = "today is my birthday"
string1

'today is my birthday'

In [ ]:
string1[0:4] # it will give till 0 to third index because 4 is exclusive

'toda'

In [ ]:
string1[0:] # start_index:end_index

'today is my birthday'

In [ ]:
string1[3:]

'ay is my birthday'

In [ ]:
string2 = "assignment"

In [ ]:
string2[1]

's'

In [ ]:
string2[-2]

'n'

In [ ]:
string2[:-2] # except last two characters

'assignme'

In [ ]:
string2[-2:] # only last two characters

'nt'

# 2. Explain the key features of list in python.

[ ]lists are the ordered collection of items

In [ ]:
shopping_list = ['milk','coffee','orange',1,2.2,True,3+6j] # list is Mutable and can store any type of data
type(shopping_list)

list

In [ ]:
shopping_list[1]

'coffee'

In [ ]:
shopping_list[-1]

(3+6j)

In [ ]:
shopping_list[2:]

['orange', 1, 2.2, True, (3+6j)]

Adding collection to the list

In [ ]:
playlist = [ ]
playlist.append('tip tip barsa pani')
playlist.append('tera yaar hu main')
playlist.append('hamari adhuri kahani')
playlist

['tip tip barsa pani', 'tera yaar hu main', 'hamari adhuri kahani']

In [ ]:
lis = ['kiwi','litchi','fig']
lis

['kiwi', 'litchi', 'fig']

In [ ]:
lis[0] = 'dragon fruit' # list are Mutable
lis

['dragon fruit', 'litchi', 'fig']

extend>> used to append elements from another list

In [ ]:
my_list = ['beer','chicken','fish']
brothers_list = ['vegetables','beer']
my_list.extend(brothers_list)
my_list

['beer', 'chicken', 'fish', 'vegetables', 'beer']

Concatenation

In [ ]:
my_list = ['beer','chicken','fish']
brothers_list = ['vegetables','beer']
my_list+brothers_list # both list will be in same bag

['beer', 'chicken', 'fish', 'vegetables', 'beer']

In [ ]:
my_list

['beer', 'chicken', 'fish']

In [ ]:
brothers_list

['vegetables', 'beer']

Membership. in, not in

In [ ]:
shopping_list = ['milk','coffee',1,2.3,True,7+5j]
'milk' in shopping_list

True

In [ ]:
'coffee' not in shopping_list

False

In [ ]:
'pwskills' not in shopping_list

True

List inside List

In [ ]:
lis = [[1,2,3],[4,5,6],[7,8,9]]
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
type(lis)

list

In [ ]:
lis[0][1]

2

In [ ]:
lis[2][2]

9

# 3. discribe how to access, modify and delete elements in a lists with examples

Accessing element in a list

In [ ]:
dinner_menu = [ ]
dinner_menu.append('butter chicken')
dinner_menu.append('naan')
dinner_menu.append('jeera rice')
dinner_menu

['butter chicken', 'naan', 'jeera rice']

Modifying elements in a list

In [ ]:
name = ['pranay','prem','jay']
name

['pranay', 'prem', 'jay']

In [ ]:
name[0]='ganesh' #lists is mutable

In [ ]:
name

['ganesh', 'prem', 'jay']

Deleting elements in a list

In [ ]:
list = ['apple','mango','banana']
list

['apple', 'mango', 'banana']

In [ ]:
list.remove('apple')

In [ ]:
list

['mango', 'banana']

# 4. Compare and contrast tuples and lists with examples.

E.g 1. Tuple( ) >> Tuples are ordered collection of elements , heterogenous data type

In [ ]:
t = (1,2,3.5,True,3,5j,'ajay') # can store any type of data
type(t)

tuple

E.g 1. List[ ] >> List is ordered collection of data, can store heterogenous data

In [ ]:
lis = [1,2,3.3,'chicken','fish','tomato',True,3+6j]
type(lis)

list

E.g 2. Tuple is Immutable

In [ ]:
emp_name = ('ajay','bijay','sanjay')
emp_name

('ajay', 'bijay', 'sanjay')

In [ ]:
emp_name[1]='rahul' # tuple object does not support item assignment as it is immutable

TypeError: 'tuple' object does not support item assignment

E.g 2. Lists are Mutable

In [ ]:
grocery_list = ['chicken','fish','beer','coffee']
grocery_list

['chicken', 'fish', 'beer', 'coffee']

In [ ]:
grocery_list[1] = 'mutton'  # list is mutble

In [ ]:
grocery_list

['chicken', 'mutton', 'beer', 'coffee']

E.g 3. Tuple inside Tuple

In [ ]:
jar1 = ('a','b')
jar2 = ('c','d')
box = (jar1,jar2)
box

(('a', 'b'), ('c', 'd'))

In [ ]:
type(box)

tuple

E.g 3. List inside List

In [ ]:
code = [[1,2,3],[4,5,6],[7,8,9]]
code

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
type(code)

list

In [ ]:
code[0][1]

2

In [ ]:
code[1][2]

6

# 5. Describe the key features of sets and provide examples of their use.

In [ ]:
s = {1,2,2,'jay','prem','jay','pranay','prem'} # Sets does not allow duplicate elements.
s

{1, 2, 'jay', 'pranay', 'prem'}

In [ ]:
type(s)

set

* Set operations

In [ ]:
S1= {'trekking','reading','playing'}
S2= {'playing','shooting','travelling'}
S1

{'playing', 'reading', 'trekking'}

In [ ]:
S2

{'playing', 'shooting', 'travelling'}

In [ ]:
S1|S2  # Union >> combines all elements

{'playing', 'reading', 'shooting', 'travelling', 'trekking'}

In [ ]:
S1 & S2  # Intersection >> Common elements

{'playing'}

In [ ]:
S1 - S2 # Difference >> present in first set and not in second

{'reading', 'trekking'}

In [ ]:
S1 ^ S2  # Synnetric difference >> return elements other than common elements

{'reading', 'shooting', 'travelling', 'trekking'}

Frozen set

In [ ]:
code = frozenset([1,2,2,3,3,4,4,4,5])
code

frozenset({1, 2, 3, 4, 5})

In [ ]:
type(code) # immutable version of set. .add, .remove, .pop, nothing works in frozen set

frozenset

# 6. Discuss the use cases tuples and sets in python programming.

TUPLES >> Ordered collection of sets # tuples are immutable

Use cases of tuples

In [2]:
workers = ('pranay','prem','jay','pradeep') # use tuples as a data structure if you dont want to edit or change the data.
workers[1] = 'rahul'

TypeError: 'tuple' object does not support item assignment

In [3]:
tuple = ('data analytics',1,1,2,2,2,'data analytics',3.5)
tuple.count(2)

3

In [4]:
tuple.count('data analytics')

2

In [6]:
tuple.index('data analytics')

0

In [7]:
print(tuple*3)

('data analytics', 1, 1, 2, 2, 2, 'data analytics', 3.5, 'data analytics', 1, 1, 2, 2, 2, 'data analytics', 3.5, 'data analytics', 1, 1, 2, 2, 2, 'data analytics', 3.5)

SETS >> sets are unordered collection of unique elements

Use cases of Sets
Conversion of List into Sets

In [10]:
list1 = [1,2,'chicken','fish','chicken','fish']  # conversion on list into sets
s = set(list1)

In [11]:
s

{1, 2, 'chicken', 'fish'}

In [12]:
list1 = list(s)  #conversion of set into list again
list1

['fish', 1, 2, 'chicken']

# 7. Discribe how to add, modify and delete items in a dictionary with examples.

In [13]:
contact_no = {'dad':1234, 'mom':567}
contact_no

{'dad': 1234, 'mom': 567}

In [14]:
type(contact_no)

dict

In [15]:
contact_no['dad']

1234

In [16]:
contact_no['mom']

567

In [17]:
contact_no = {'dad':1234, 'mom':567, 'dad':890} # Modifying dad's contact number >> dad variable has overwritten bt last entered number.
contact_no['dad']

890

Adding items in dictionary

In [19]:
D = {'name': ['pranay','prem',1,2],'email': 'pr@gmail.com', 'contact':(1234,5678)}
D

{'name': ['pranay', 'prem', 1, 2],
 'email': 'pr@gmail.com',
 'contact': (1234, 5678)}

In [20]:
D['name']

['pranay', 'prem', 1, 2]

In [21]:
D['address'] = 'Mumbai'  # Added item to the dictionary.
D

{'name': ['pranay', 'prem', 1, 2],
 'email': 'pr@gmail.com',
 'contact': (1234, 5678),
 'address': 'Mumbai'}

Deleting item from the dictionary.

In [22]:
D

{'name': ['pranay', 'prem', 1, 2],
 'email': 'pr@gmail.com',
 'contact': (1234, 5678),
 'address': 'Mumbai'}

In [34]:
del D['email']

In [35]:
D

{'name': ['pranay', 'prem', 1, 2]}

# 8. Discuss the importance of dictionary keys being immutable and provide examples.

In [36]:
hotel_menu = {'chicken_tikka' :250, 'butter_chicken':350}
hotel_menu

{'chicken_tikka': 250, 'butter_chicken': 350}

In [37]:
hotel_menu['chicken_tikka']

250

In [38]:
hotel_menu['butter_chicken']

350

In [39]:
hotel_menu.keys()

dict_keys(['chicken_tikka', 'butter_chicken'])

In [40]:
hotel_menu.values()

dict_values([250, 350])